deployed/NRCV/NRCVMCH27cH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/NRCVMCH27cH" version="2022.0.000" xmlns="http://www.lmonte.com/besm/NRCVMCH27cH" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="NRCVMCH27cH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Indoor Air Quality and Mechanical Ventilation"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="MCH27c Highrise Residential Multifamily Scheduled or Real-Time Control Ventilation system"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="c"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderCF2R_3R"/>
                     <xsd:element ref="nRCVMCH27cH"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonNRCV"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="NRCVMCH27cH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="NRCVMCH27cH">
      <xsd:annotation>
         <xsd:documentation>Indoor Air Quality and Mechanical Ventilation - MCH27c Highrise Residential Multifamily Scheduled or Real-Time Control Ventilation system</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Whole-Dwelling Mechanical Ventilation - General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeforeNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Before Section Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Title 24, Part 6, Section 160.2(b)2 
                           <d:b>Ventilation and Indoor Air Quality for Attached Dwelling Units.</d:b> All dwelling units shall meet the requirements of ANSI/ASHRAE Standard 62.2.-2019 Ventilation and Acceptable Indoor Air Quality in Low-Rise Residential Buildings subject to amendments specified by Title 24, Part 6 Section 160.2(b)2A</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_DwellingUnitName" type="com:DwellingUnitName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Dwelling unit name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_WholeBuildingOccupancy" type="com:WholeBuildingOccupancy" fixed="HighRiseResidential">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Building Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Fixed value HighRiseResidential</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_ProjectScopeNR" type="comp:ProjectScopeNR">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Project scope</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: New, Addition, Alteration</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="ExistingAddition">Addition</dtyp:displayterm>
                           <dtyp:displayterm value="ExistingAlteration">Alteration</dtyp:displayterm>
                           <dtyp:displayterm value="NewComplete">New</dtyp:displayterm>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_DwellingUnitConditionedFloorArea" type="com:DwellingUnitConditionedFloorArea">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Total Conditioned Floor Area of Dwelling Unit</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">(For addition projects the conditioned floor area equals existing area plus addition area. )</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_BedroomCount" type="com:BedroomCount">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Number of Bedrooms in Dwelling Unit</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">(For addition projects the number of bedrooms equals the existing bedrooms plus addition bedrooms)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_VentilationSystemType" type="hvac:VentilationSystemType">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Ventilation System Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User picks one from list of following values: Balanced display term Balanced, BalancedCentralVent display term Central Ventilation System - Balanced, BalancedERV display term Balanced ERV, BalancedHRV display term Balanced HRV, CentralFanIntegrated display term Central Fan Integrated (CFI), ExhaustCentralVent display term Central Ventilation System - Exhaust, ExhaustVent display term Exhaust, SupplyCentralVent display term Ventilation System - Supply, SupplyVent display term Supply</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_VentilationOperationSchedule">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Ventilation Operation Schedule</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User picks from list: ContinuousVentilation, display term: Continuous display term Continuous, ShortTermAverage display term Short Term Average;  If result = Continuous And A06_VentilationSystemType ==CentralFanIntegrated Display message Central Fan Integrated Ventilation System Not Allowed to Operate Continuously - Do Not Proceed</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:VentilationOperationSchedule">
                           <xsd:enumeration value="Continuous"/>
                           <xsd:enumeration value="ShortTermAverage"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A07After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Mch-27c Variant</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH27c High-rise residential Multifamily Ventilation Scheduled or Real-Time Control</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field for Variant result: If A02  == HighRiseResidential And   A07_VentilationOperationSchedule != Scheduled Or  RealTimeControl Variant result = Mch27b Else If A07_VentilationOperationSchedule == Scheduled Or  RealTimeControl Variant result = Mch27c - Schedule or Real-Time Control Ventilation System;</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="AEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Note: 
                           <d:line1/>Non-dwelling units do not meet the definition for a dwelling unit as defined in Section 100.1(b).  Non-dwelling units are not designed to provide independent living facilities and do not provide permanent provisions for living, sleeping, eating, cooking and sanitation.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Ventilation - Total Ventilation Rate</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">A mechanical supply system, exhaust system or combination thereof shall provide whole-dwelling ventilation with outdoor air each hour at no less than the rate in 160.2(b)2Aiv</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B_BeginNote2" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Mch27c Note</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Intermittent ventilation systems, devices, or controls for use for compliance with field verification and diagnostic testing requirements for mechanical ventilation airflow are subject to a manufacturer providing sufficient evidence to the Executive Director that the installed mechanical ventilation systems, devices, or controls will provide at least the minimum ventilation airflow required by the Standards, and subject to consideration of the manufacturer's proposed field verification and diagnostic test protocol for ventilation system(s). 
                           <d:line1/> Approved systems, devices, or controls, and field verification and diagnostic test protocols for intermittent mechanical ventilation systems shall be listed in directories published by the Energy Commission.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="nRCVMCH27cH" type="NRCVMCH27cH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the NRCVMCH27cH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
